.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note
{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
}

   .song_name{
       float: center;
   }
 
    #song_name_span{
        font-size: 23px;
        margin: 15px;
    }
   
    canvas{
        border: 5px solid white;
        border-radius: 25px;
        margin-top: 60px;
        margin-left: 100px;
    }